* {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    border: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

select {
    width: 10%;
    /* height: 33px; */
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 3px 3px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 4px;
    font-style: italic;
    padding: 1px;
}

.nav_options {
    display: inline;
    width: 30%;
    margin: 4px;
    /* text-align: center; */
    /*text-decoration: underline;*/
    font-size: small;
    font-family: fantasy;
    font-weight: bold;
    position: relative;
    left: 460px;
    bottom: 250px;
}

.nav_words {
    color: white;
    text-decoration: none;
}

label {
    margin: 7px
}


option {
    font-size: 16px;
    display: inline;
    font-family: sans-serif;
}

footer {
    text-align: center;
}

.header {
    background: url("/images/other_dog_logo_cropped.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: top center;
}

.logo {
    width: 5%;
    vertical-align: middle;
    margin-right: 1rem;
}

.header_list {
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
}

.home,
.adoption,
.cute_dogs,
.articles {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.video_container {
    width: 90%;
    display: block;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
}

.statement {
    border: 3px solid white;
}

.stats {
    background-color: slategray;
    display: inline-block;
    width: 90%;
    vertical-align: top;
    margin: 4%;
    border: 3px solid white;
}

.slider slider-for {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.for {
    width: 90%;
    height: 700px;
    margin: 30px;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    width: 100%;
    height: 200px;
    opacity: 1;
    border: 1px solid white;
}

.pictures {
    width: 95%;
}

.adoption_container,
.article_container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 3rem;
    display: block;
    margin-top: 2rem;
    font-family: fantasy;
    color: white;
    text-shadow: black 2px 2px;
}

.adoption_container,
.article_container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 90%;
    background-color: slategray;
    margin-top: 80px;
    display: inline-block;
    border: 3px solid white;
}

.border {
    opacity: .85;
    border-radius: 20%;
}

.search_form {
    width: 100%;
}

.search {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 900;
    font-family: fantasy;
}

.find {
    font-family: fantasy;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    /* font-weight: 900; */
    display: inline;
    padding-bottom: 20px;
}

.articles_h1 {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 900;
    font-family: fantasy;
    position: relative;
    left: 25%;
}

.article_h2 {
    font-family: cursive;
    font-size: 17px;
    display: inline;
    margin-top: 30px;
    position: relative;
    left: 25%;
}

.search_filters {
    font-size: 18px;
    /* display: block; */
    font-family: sans-serif;
}

.location {
    background-color: antiquewhite;
    /*    line-height: 28px;*/
    border: 1px solid black;
    border-radius: 3px 3px;
    font-style: italic;
    font-size: 18px;
    padding: 1px;
    width: 15%;
}

.submit,
.submit_shelter {
    width: 30%;
    background-color: cadetblue;
    /* line-height: 35px; */
    border-radius: 3px 3px;
    padding: 5px;
    margin-top: 14px;
    margin-bottom: 10px;
    font-family: fantasy;
    /* font-weight: 900; */
    font-size: 20px;
}

#submit {
    width: 20%;
    background-color: cadetblue;
    line-height: 25px;
    border-radius: 3px 3px;
    padding: 5px;
    margin-top: 23px;
    font-family: fantasy;
    font-weight: 900;
    font-size: large;
    position: relative;
    top: 4790px;
    left: 170px;
}

.footer {
    margin: 5px;
}


.essentials {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin: 3%;
    color: white;
}

.adopt_stats {
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    font-family: serif;
}

.h2_checklist {
    font-family: fantasy;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    /* font-weight: 900; */
    display: inline;
    padding-bottom: 20px;
}

.message {
    font-family: sans-serif;
}

.location_pic {
    background-color: antiquewhite;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 3px 3px;
    font-style: italic;
    padding: 1px;
}

.search_pics {
    font-size: 16px;
    display: block;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

.location_radio {
    display: inline;
    margin-top: 40px;
    margin-bottom: 20px;
}

.results_container,
.random_pet_results_container,
.shelter_results_container {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 3px solid white;
    background-color: slategray;
    text-align: center;
}

.text-left {
    text-align: left;
}

.pic_label {
    display: inline;
    position: relative;
    font-family: sans-serif;
}

.right_h1 {
    font-family: fantasy;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    /* font-weight: 900; */
    display: inline;
    padding-bottom: 20px;
}

.right_h2 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #333333;
    border-radius: 0.5px 0.5px;
    border-color: white;
}

.other_a {
    color: white;
    text-decoration: none;
}

.url {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: 35px;
    /* margin-bottom: 10px; */
    padding-top: 10px;
}

.sex_age {
    color: black;
    display: inline;
}

.sex_size_container {
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    font-family: sans-serif;
    font-size: 18px;
}

.search_article {
    text-decoration: underline;
    font-size: 17px;
    font-weight: 900;
    font-family: fantasy;
    position: relative;
    right: 44%;
}

.search_article_other {
    text-decoration: underline;
    font-size: 25px;
    font-weight: 900;
    font-family: fantasy;
    position: relative;
    top: 4790px;
    right: 308px;
}

.find_article {
    font-family: cursive;
    font-size: 16px;
    display: inline;
    margin-top: 30px;
    position: relative;
    right: 44%;
}

.find_article_other {
    font-family: cursive;
    font-size: 20px;
    display: inline;
    margin-top: 30px;
    position: relative;
    top: 4790px;
    left: 245px;
}

.border_article {
    opacity: .85;
    border-radius: 20%;
    position: relative;
    right: 44%;
}

.location_article {
    background-color: antiquewhite;
    line-height: 20px;
    border: 1px solid white;
    border-radius: 3px 3px;
    /* margin-bottom: 50px; */
    /* margin-top: 20px; */
    /* margin-left: 5px; */
    /* margin-right: 4px; */
    font-style: italic;
    padding: 1px;
    position: relative;
    /* right: 44%; */
    top: 4790px;
    left: 203px;
}

.shelter_container {
    width: 40%;
    display: inline-block;
}

.article_side {
    width: 40%;
    float: right;
}

.checklist {
    background-color: antiquewhite;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin: 4%;
    border: 3px solid white;
    border-radius: 5%;
    position: relative;
    right: 10%;
}

.other {
    width: 100%;
    border: 1px solid black;
}

#left {
    width: 45%;
    /* border: 3px solid white; */
    display: inline-block;
    padding-left: 2.5%;
    padding-right: 2.5%;
    /* background-color: slategray; */
}

#right {
    width: 45%;
    /* height: auto; */
    /* background-color: white; */
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    /* background-color: slategray; */
    border: 3px solid white;
    padding-left: 2.5%;
    padding-right: 3.5%;
    padding-bottom: 1%;
}

.column_wrapper {
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: 3px solid white;
    background-color: slategray;
}


.shelter_form {
    /* position: relative; */
    /* text-align: center; */
    margin-top: 20px;
    margin-bottom: 60px;
    /* font-size: 20px; */
    /* background-color: white; */
    border: 3px solid white;
    width: 100%;
    height: 200px;
}

.other_border {
    width: 45%;
    height: 370px;
    opacity: .85;
    border-radius: 20%;
    position: absolute;
}

.other_h2 {
    font-family: fantasy;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    /* font-weight: 900; */
    display: inline;
    padding-bottom: 20px;
}

#bottom {
    width: 100%;
    height: 568px;
    background-color: slategray;
    border: 3px solid white;
    /* vertical-align: bottom; */
}

.dog_name {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dog_type {
    font-size: 25px;
    margin-bottom: 20px;
}

.image_container,
.contact_container {
    width: 100%;
}

.dog_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid white;
}

.small_dog_image {
    display: inline;
    margin: 20px;
    border: 1px solid white;
}

.dog_location {
    font-size: 20px;
    margin-bottom: 5px;
}

.dog_contact {
    margin-bottom: 30px;
}

.adopt_li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

#bio {
    font-size: 18px;
}

#adoption_bio {
    background-color: white;
    width: 70%;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px dashed black;
}

.petfinder_button {
    width: 30%;
    background-color: cadetblue;
    line-height: 35px;
    border-radius: 3px 3px;
    padding: 5px;
    margin-bottom: 20px;
    font-family: fantasy;
    font-weight: 900;
    font-size: large;
    text-align: center;
    display: inline-block;
}

.pic_h2 {
    font-size: 30px;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
}


.submit_pic {
    display: inline;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 30%;
    background-color: cadetblue;
    line-height: 35px;
    border-radius: 3px 3px;
    padding: 5px;
    font-family: fantasy;
    font-weight: 900;
    font-size: large;
    text-align: center;
}

#show_one_pic {
    width: 80%;
    height: 80%;
    border: 1px solid white;
}

.show_all_pic {
    width: 35%;
    margin: 5%;
    border: 1px solid white;
}

.button_div {
    display: inline;
}

#shelter_name {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    color: white;
    text-shadow: black 2px 2px;
}

.shelter_ul li {
    display: inline;
    padding: 0 20px;
    font-size: 20px;
    border-right: 1px solid red;
}

.shelter_ul li:last-child {
    border-right: 0;
}

.shelter_email {
    color: black;
}

.contact_a {
    color: black;
}








/* psuedo */

input:hover {
    background-color: cadetblue;
    color: white;
}

.submit:hover,
#submit:hover {
    border: 2px solid;
    border-color: aliceblue;
    box-shadow: 0 0 10px #9ecaed;
}

.other_a:hover,
.essentials:hover {
    color: black;
    text-decoration: underline;
}







/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    .nav_options {
        display: inline;
        width: 30%;
        margin: 4px;
        /* text-align: center; */
        /* text-decoration: underline; */
        font-size: small;
        font-family: fantasy;
        font-weight: bold;
        position: relative;
        left: 328px;
        bottom: 250px;
    }

    .for {
        width: 90%;
        height: 600px;
        margin: 30px;
        border: 3px solid white;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        width: 100%;
        height: 200px;
        border: 1px solid white;
    }

    .container {
        width: 90%;
        background-color: slategray;
        margin-top: 60px;
        display: inline-block;
        border: 3px solid white;
    }

    select {
        width: 10%;
        /* height: 33px; */
        background-color: antiquewhite;
        border: 1px solid black;
        border-radius: 3px 3px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 4px;
        font-style: italic;
        padding: 1px;
    }

    .essentials {
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin: 3%;
        color: white;
    }

    .search_article_other {
        text-decoration: underline;
        font-size: 25px;
        font-weight: 900;
        font-family: fantasy;
        position: relative;
        /* top: 4790px; */
        bottom: 319px;
        /* color: white; */
        /* right: 308px; */
    }

    .find_article_other {
        font-family: cursive;
        font-size: 20px;
        display: inline;
        margin-top: 30px;
        position: relative;
        bottom: 315px;
        left: 175px;
    }

    .search_filters_article {
        font-size: 17px;
        display: block;
        font-family: sans-serif;
        position: relative;
        /* top: 4790px; */
        bottom: 310px;
        right: 7px;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* color: white; */
        text-align: center;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .location_article {
        background-color: antiquewhite;
        line-height: 20px;
        border: 1px solid white;
        border-radius: 3px 3px;
        /* margin-bottom: 50px; */
        /* margin-top: 20px; */
        /* margin-left: 5px; */
        /* margin-right: 4px; */
        font-style: italic;
        padding: 1px;
        position: relative;
        bottom: 310px;
        left: 140px;
        /* left: 203px; */
    }

    #submit {
        width: 250px;
        background-color: cadetblue;
        line-height: 25px;
        border-radius: 3px 3px;
        padding: 5px;
        margin-top: 23px;
        font-family: fantasy;
        font-weight: 900;
        font-size: large;
        position: relative;
        bottom: 310px;
        left: 101px;
    }

    .shelter_results_container {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 50px;
        border: 3px solid white;
        background-color: slategray;
        text-align: center;
    }

    .submit {
        width: 30%;
        background-color: cadetblue;
        /* line-height: 35px; */
        border-radius: 3px 3px;
        padding: 5px;
        margin-top: 14px;
        margin-bottom: 10px;
        font-family: fantasy;
        /* font-weight: 900; */
        font-size: 20px;
    }
}

/*ipad potrait*/

@media only screen and (max-width: 768px) {

    .nav_options {
        /* display: block; */
        width: 30%;
        margin: 4px;
        /* text-align: center; */
        /* text-decoration: underline; */
        font-size: 10px;
        font-family: fantasy;
        font-weight: bold;
        /* position: relative; */
        left: 242px;
        /* bottom: 60px; */
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

    .for {
        width: 90%;
        height: 500px;
        margin: 30px;
        border: 3px solid white;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        width: 100%;
        height: 200px;
        border: 1px solid white;
    }

    .container {
        width: 90%;
        background-color: slategray;
        margin-top: 60px;
        display: inline-block;
        border: 3px solid white;
    }

    .search_filters {
        font-size: 18px;
        /* display: block; */
        font-family: sans-serif;
    }

    label {
        margin: 0px;
    }

    .location {
        background-color: antiquewhite;
        /*        line-height: 28px;*/
        border: 1px solid black;
        border-radius: 3px 3px;
        font-style: italic;
        font-size: 18px;
        padding: 1px;
        width: 15%;
    }

    select {
        width: 10%;
        /* height: 33px; */
        background-color: antiquewhite;
        border: 1px solid black;
        border-radius: 3px 3px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 4px;
        font-style: italic;
        padding: 1px;
    }

    .submit {
        width: 30%;
        background-color: cadetblue;
        /* line-height: 35px; */
        border-radius: 3px 3px;
        padding: 5px;
        margin-top: 14px;
        margin-bottom: 10px;
        font-family: fantasy;
        /* font-weight: 900; */
        font-size: 20px;
    }

    .search_pics {
        font-size: 15px;
        /* display: block; */
        font-family: sans-serif;
        /* margin-top: 15px; */
        /* margin-bottom: 10px; */
    }

    .location_pic {
        background-color: antiquewhite;
        line-height: 25px;
        border: 1px solid black;
        border-radius: 3px 3px;
        font-style: italic;
        padding: 1px;
        /* margin-bottom: 15px;*/
    }

    .location_radio {
        /* display: inline; */
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .pic_label {
        display: inline;
        position: relative;
        font-family: sans-serif;
        font-size: 15px;
    }

    .essentials {
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin: 3%;
        color: white;
    }

    .url {
        text-decoration: none;
        font-family: sans-serif;
        color: white;
        text-align: center;
        margin-top: 29px;
        /* margin-bottom: 10px; */
        padding-top: 10px;
    }

    .search_article_other {
        text-decoration: underline;
        font-size: 25px;
        font-weight: 900;
        font-family: fantasy;
        position: relative;
        bottom: 320px;
        /* top: 4790px; */
        /* right: 308px; */
        /* color: white; */
    }

    .find_article_other {
        font-family: cursive;
        font-size: 20px;
        display: inline;
        margin-top: 30px;
        position: relative;
        bottom: 320px;
        left: 121px;
        /* text-align: center; */
        /* top: 4790px; */
        /* left: 245px; */
    }

    .search_filters_article {
        font-size: 16px;
        display: block;
        font-family: sans-serif;
        position: relative;
        bottom: 320px;
        /* left: 0px; */
        /* top: 4790px; */
        right: 9px;
        /* left: 200px; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* color: white; */
        text-align: center;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .location_article {
        background-color: antiquewhite;
        line-height: 20px;
        border: 1px solid white;
        border-radius: 3px 3px;
        /* margin-bottom: 50px; */
        /* margin-top: 20px; */
        /* margin-left: 5px; */
        /* margin-right: 4px; */
        font-style: italic;
        padding: 1px;
        position: relative;
        bottom: 320px;
        left: 82px;
        /* top: 4790px; */
        /* left: 203px; */
    }

    #submit {
        width: 200px;
        background-color: cadetblue;
        line-height: 25px;
        border-radius: 3px 3px;
        padding: 5px;
        margin-top: 23px;
        font-family: fantasy;
        font-weight: 900;
        font-size: large;
        position: relative;
        bottom: 320px;
        left: 68px;
        /* top: 4790px; */
        /* left: 170px; */
    }

    .small_dog_image {
        display: inline;
        margin: 20px;
        border: 1px solid white;
        width: 30%;
    }

    .petfinder_button {
        width: 30%;
        background-color: cadetblue;
        line-height: 35px;
        border-radius: 3px 3px;
        padding: 5px;
        margin-bottom: 20px;
        font-family: fantasy;
        font-weight: 900;
        font-size: 15px;
        text-align: center;
    }

    .submit_shelter {
        width: auto;
        background-color: cadetblue;
        line-height: 35px;
        border-radius: 3px 3px;
        padding: 5px;
        margin-top: 14px;
        font-family: fantasy;
        font-weight: 900;
        font-size: large;
    }

    .shelter_ul li {
        display: inline;
        padding: 0 20px;
        font-size: 14px;
        border-right: 1px solid red;
        /* width: auto; */
    }
}



/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    .title {
        font-size: 2rem;
        margin-top: 2rem;
        font-family: fantasy;
        color: white;
        text-shadow: black 2px 2px;
    }

    .nav_options {
        display: block;
        width: 70px;
        margin: 9px;
        /* text-align: center; */
        /* text-decoration: underline; */
        font-size: 13px;
        font-family: fantasy;
        font-weight: bold;
        position: relative;
        /* left: 264px; */
        /* bottom: 60px; */
        margin-left: auto;
        margin-right: auto;
    }

    .nav_words {
        color: white;
        position: relative;
        top: 270px;
        right: 240px;
        text-decoration: none;
    }

    .stats {
        background-color: slategray;
        display: inline-block;
        width: 90%;
        margin: 4%;
        border: 3px solid white;
    }

    .for {
        width: 90%;
        height: 400px;
        margin: 30px;
        border: 3px solid white;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        width: 100%;
        height: 200px;
        border: 1px solid white;
    }

    .slick-list {
        position: relative;
        display: block;
        overflow: scroll;
        margin: 0;
        /* padding: 0; */
    }

    .container {
        width: 90%;
        background-color: slategray;
        margin-top: 60px;
        display: inline-block;
        border: 3px solid white;
    }

    .search_form {
        width: 100%;
    }

    .stupid {
        font-family: fantasy;
        font-size: 35px;
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-style: wavy;
        /* font-weight: 900; */
        display: inline;
        padding-bottom: 20px;
    }

    .shelter_label {
        margin: 1px;
        font-size: 20px;
        text-align: center;
    }

    .shelter_input {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        width: 60%;
    }

    .location {
        background-color: antiquewhite;
        /*        line-height: 28px;*/
        border: 1px solid black;
        border-radius: 3px 3px;
        font-style: italic;
        font-size: 18px;
        padding: 1px;
        width: 15%;
    }

    .search_filters {
        font-size: 18px;
        /* display: block; */
        font-family: sans-serif;
    }

    .search_pics {
        font-size: 13px;
        display: inline;
        font-family: sans-serif;
    }

    label {
        margin: 0px;
    }

    .submit {
        width: 30%;
        background-color: cadetblue;
        /* line-height: 35px; */
        border-radius: 3px 3px;
        padding: 5px;
        margin-top: 14px;
        margin-bottom: 10px;
        font-family: fantasy;
        /* font-weight: 900; */
        font-size: 20px;
    }

    select {
        width: 10%;
        /* height: 33px; */
        background-color: antiquewhite;
        border: 1px solid black;
        border-radius: 3px 3px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 4px;
        font-style: italic;
        padding: 1px;
    }

    .location_pic {
        background-color: antiquewhite;
        line-height: 15px;
        border: 1px solid black;
        border-radius: 3px 3px;
        font-style: italic;
        padding: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pic_label {
        display: inline;
        position: relative;
        font-family: sans-serif;
        font-size: 12px;
    }

    .location_radio {
        display: inline;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .url {
        text-decoration: none;
        font-family: sans-serif;
        color: white;
        text-align: center;
        margin-top: 21px;
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 10px;
    }

    .other_a {
        color: white;
        text-decoration: none;
        font-size: 12px;
    }

    .essentials {
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin: 3%;
        color: white;
    }

    .find_article_other {
        font-family: cursive;
        font-size: 20px;
        display: inline;
        margin-top: 30px;
        position: relative;
        top: 4660px;
        left: 65px;
    }

    .search_filters_article {
        font-size: 17px;
        display: block;
        font-family: sans-serif;
        position: relative;
        top: 4660px;
        right: 115px;
        /* left: 200px; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* color: white; */
        text-align: center;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    #submit {
        width: 33%;
        background-color: cadetblue;
        line-height: 20px;
        border-radius: 3px 3px;
        padding: 5px;
        margin-top: 23px;
        font-family: fantasy;
        font-weight: 900;
        font-size: large;
        position: relative;
        top: 4660px;
        left: 35px;
    }

    .search_article_other {
        text-decoration: underline;
        font-size: 20px;
        font-weight: 900;
        font-family: fantasy;
        position: relative;
        top: 4660px;
        right: 115px;
    }

    .border {
        opacity: .85;
        border-radius: 20%;
        width: 100%;
    }

    .blah {
        margin-top: 40px;
        width: 45%;
    }

    .petfinder_button {
        width: 38%;
        background-color: cadetblue;
        line-height: 35px;
        border-radius: 3px 3px;
        padding: 5px;
        margin-bottom: 20px;
        font-family: fantasy;
        font-weight: 900;
        font-size: 73%;
        text-align: center;
    }

    .show_all_pic {
        width: 40%;
        height: 31%;
        margin: 3%;
        border: 1px solid white;
    }

    #bottom {
        width: 100%;
        height: 568px;
        background-color: slategray;
        border: 3px solid white;
        /* vertical-align: bottom; */
    }

    #right {
        width: 45%;
        /* height: auto; */
        /* background-color: white; */
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        /* background-color: slategray; */
        border: 3px solid white;
        padding-left: 2.5%;
        padding-right: 3.5%;
        padding-bottom: 1%;
    }

    .small_dog_image {
        display: inline;
        margin: 5px;
        border: 1px solid white;
        width: 30%;
    }

    .shelter_ul li {
        display: block;
        padding: 0 20px;
        font-size: 14px;
        /* border-bottom: 1px solid red; */
        /* width: auto; */
    }

    .shelter_form {
        /* position: relative; */
        /* text-align: center; */
        margin-top: 20px;
        margin-bottom: 60px;
        /* font-size: 20px; */
        /* background-color: white; */
        border: 3px solid white;
        width: 100%;
        height: 200px;
    }

}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    .for {
        width: 90%;
        height: 300px;
        margin: 30px;
        border: 3px solid white;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        width: 100%;
        height: 125px;
        border: 1px solid white;
    }

    .search {
        text-decoration: underline;
        font-size: 14px;
        /* font-weight: 500; */
        font-family: fantasy;
    }

    .adopt_li {
        display: block;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .petfinder_button {
        width: 38%;
        background-color: cadetblue;
        line-height: 35px;
        border-radius: 3px 3px;
        padding: 5px;
        margin-bottom: 20px;
        font-family: fantasy;
        font-weight: 900;
        font-size: 73%;
        text-align: center;
        display: inline;
    }

    .find {
        font-family: fantasy;
        font-size: 35px;
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-style: wavy;
        /* font-weight: 900; */
        display: inline;
        padding-bottom: 20px;
    }

    .search_filters {
        font-size: 11px;
        display: inline;
        font-family: sans-serif;
    }

    .location {
        background-color: antiquewhite;
        /*        line-height: 28px;*/
        border: 1px solid black;
        border-radius: 3px 3px;
        font-style: italic;
        font-size: 18px;
        padding: 1px;
        width: 15%;
    }

    select {
        width: 10%;
        /* height: 33px; */
        background-color: antiquewhite;
        border: 1px solid black;
        border-radius: 3px 3px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 4px;
        font-style: italic;
        padding: 1px;
    }

    .location {
        background-color: antiquewhite;
        /*        line-height: 28px;*/
        border: 1px solid black;
        border-radius: 3px 3px;
        font-style: italic;
        font-size: 18px;
        padding: 1px;
        width: 15%;
    }

    label {
        margin: 0px;
        font-size: 11px;
        font-weight: bold;
    }

    .submit,
    .submit_shelter {
        width: 30%;
        background-color: cadetblue;
        /* line-height: 35px; */
        border-radius: 3px 3px;
        padding: 5px;
        margin-top: 14px;
        margin-bottom: 10px;
        font-family: fantasy;
        /* font-weight: 900; */
        font-size: 20px;
    }

    .submit_shelter {
        width: auto;
        background-color: cadetblue;
        line-height: 20px;
        padding: 5px;
        margin-top: 0px;
        font-family: fantasy;
        font-size: 18px;
    }


    .container {
        width: 90%;
        background-color: slategray;
        margin-top: 60px;
        display: inline-block;
        border: 3px solid white;
    }

    .shelter_form {
        /* position: relative; */
        /* text-align: center; */
        margin-top: 20px;
        margin-bottom: 60px;
        /* font-size: 20px; */
        /* background-color: white; */
        border: 3px solid white;
        width: 100%;
        height: 200px;
    }

    .shelter_label {
        /* margin: 12px; */
        font-size: 16px;
    }

    .other_border {
        width: 93%;
        height: 370px;
        opacity: .85;
        border-radius: 20%;
        position: absolute;
    }

    #left {
        width: 100%;
        height: 10%;
        border: 3px solid white;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .stupid {
        font-family: fantasy;
        font-size: 35px;
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-style: wavy;
        /* font-weight: 900; */
        display: inline;
        padding-bottom: 20px;
    }

    .shelter_input {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    #right {
        width: 45%;
        /* height: auto; */
        /* background-color: white; */
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        /* background-color: slategray; */
        border: 3px solid white;
        padding-left: 2.5%;
        padding-right: 3.5%;
        padding-bottom: 1%;
    }

    .other_blah {
        width: 45%;
        padding-top: 0.5%;
        display: inline;
    }

    #bottom {
        width: 100%;
        height: 568px;
        background-color: slategray;
        border: 3px solid white;
        /* vertical-align: bottom; */
    }

    .shelter_ul li {
        display: block;
        padding: 0 20px;
        font-size: 20px;
        border-bottom: 1px solid red;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #shelter_name {
        font-size: 32px;
        margin-top: 15px;
        margin-bottom: 5px;
        display: block;
        color: white;
        text-shadow: black 2px 2px;
    }

    .shelter_ul li:last-child {
        border-bottom: 0;
    }

    .shelter_ul li {
        border-right: 0;
    }

    .title {
        font-size: 1.5rem;
        margin-top: 2rem;
        font-family: fantasy;
        color: white;
        display: block;
        text-shadow: black 2px 2px;
    }

    .video_container {
        width: 90%;
        display: block;
        margin-top: 47px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 47px;
    }


}
